@use '../abstracts/colors' as *;

.contactmeButton {
  font-weight: 500;
  font-size: 9px;
  margin-top: 20px;
  width: 80%;
  background-color: $orange-3;
  border-radius: 5px;
  height: 30px;
  letter-spacing: 0.4px;
  border-style: none;
  transition-duration: 500ms;

  &:hover {
    background-color: $orange-4;
    box-shadow: 0px 0px 3px $orange-2;
  }
}
