.subheaderSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h1 {
    padding-bottom: 22px;
  }

  p {
    width: 90%;
  }
}

.subheaderImage {
  width: 190px;
  border-radius: 5px;
}

.subheaderTitle {
  width: 40%;
}
