$pale-red-0: #ffeaf3;
$pale-red-1: #fdd4e1;
$pale-red-2: #f4a7bf;
$pale-red-3: #ec779c;
$pale-red-4: #e64f7e;
$pale-red-5: #e3356b;
$pale-red-6: #e22762;
$pale-red-7: #c91a52;
$pale-red-8: #b41149;
$pale-red-9: #9f003e;

$grey-0: #f5f5f5;
$grey-1: #e7e7e7;
$grey-2: #cdcdcd;
$grey-3: #b2b2b2;
$grey-4: #9a9a9a;
$grey-5: #8b8b8b;
$grey-6: #848484;
$grey-7: #717171;
$grey-8: #656565;
$grey-9: #575757;

$orange-0: #fff8e1;
$orange-1: #ffefcc;
$orange-2: #ffdd9b;
$orange-3: #ffca64;
$orange-4: #ffba38;
$orange-5: #ffb01b;
$orange-6: #ffab09;
$orange-7: #e39500;
$orange-8: #ca8500;
$orange-9: #af7100;
