@import './base/reset.scss';
@import './layouts/navbar.scss';
@import './mixins/theme.scss';
@import './variables/index.scss';
@import './components/index.scss';

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 40px;
}
